body {
    text-align: center;
    font-weight: bold;
}

/* button styles */
.yellow-button {
    background-color: rgb(226, 226, 107);
    margin: 125px 5px 5px 5px; /*only need to increase margin on yellow to bring the whole thing down*/
    padding: 70px;
    font-size: 20px;
} /* :active kinda works but cant be controlled */
.blue-button {
    background-color: rgb(92, 158, 199);
    margin: 5px 5px 5px 5px;
    padding: 70px;
    font-size: 20px;
}
.red-button {
    background-color: rgb(201, 81, 81);
    margin: 5px;
    padding: 70px;
    font-size: 20px;
}
.green-button {
    background-color: rgb(92, 165, 92);
    margin: 5px;
    padding: 70px;
    font-size: 20px;
}
.next-button {
    background-color: rgb(151, 23, 23);
    color: black;
    margin: 120px 1265px 5px 5px;
    padding: 22px;
    font-size: 24px;
    font-weight: bold;
}

/* lit-up button styles */
.yellow-button.selected {
    background-color: yellow;
    margin: 125px 5px 5px 5px;
    padding: 70px;
    font-size: 20px;
}
.blue-button.selected {
    background-color: blue;
    margin: 5px 5px 5px 5px;
    padding: 70px;
    font-size: 20px;
}
.red-button.selected {
    background-color: red;
    margin: 5px 5px 5px 5px;
    padding: 70px;
    font-size: 20px;
}
.green-button.selected {
    background-color: rgb(8, 233, 8);
    margin: 5px 5px 5px 5px;
    padding: 70px;
    font-size: 20px;
}

